/* General Styling */
  
 
body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

#db-load-log {
    background-color: #eee;
    padding: 10px;
    overflow-x: auto;
    max-height: 300px;
    overflow-y: auto;
    font-family: 'Courier New', monospace;
    font-size: 12px;
}
h1, h2 {
  color: #333;
}

p {
  color: #666;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

pre {
  background-color: #eee;
  padding: 10px;
  overflow-x: auto;
}





  
#dirPath {
    width: 70%; /* or a specific pixel value */
  }

  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #directorySection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 85%
  }
  
  #generateReportBtn {
    margin-top: 20px;
    width: 30%;
  }
  